@using WebCadastrador.Models
@using WebCadastrador.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@model (Pedido, AppUser)
@{
    ViewData["Title"] = "FinalizarPedido";
    var (pedido, user) = Model;
    var total = 0m;
    var isAdmin = (await authorizationService.AuthorizeAsync(User, nameof(AuthPolicies.Delete))).Succeeded;
}
<h3>Resumo do Pedido</h3>
<div class="row">
    <div class="col-md-12">
        <h3>Nº do Pedido:@(pedido.Id)</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3" id="email">
        <h3>Seu e-mail:</h3>
        <div>@user.Email</div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-10">
        <h3>Itens Adicionados</h3>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Imagem do Produto
            </th>
            <th>
                Fabricante
            </th>
            <th>
                Preço
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pedido.Itens)
        {
            total += item.Quantidade * item.Produto.Preco;
            <tr>
                <td id="produtoNome">
                    @(item.Produto.Nome)
                </td>
                <td>
                    <img src="@item.Produto.FotoUrl" asp-append-version="true" />
                </td>
                <td>
                    @(item.Produto.Fabricante.Nome)
                </td>
                <td id="produtoPreco">
                    @(item.Produto.Preco)
                </td>
                <td id="produtoQuantidade">
                    @(item.Quantidade)
                </td>
                <td>
                    @(item.Produto.Preco * item.Quantidade)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Preço total = </td>
            <td>@total</td>
        </tr>
    </tfoot>
</table>
@if (isAdmin)
{
    <a class="btn btn-success" asp-action="PedidosRelatorio" id="pedidosRelatorio">
        Relatório de Pedidos
    </a>
}


