@model WebCadastrador.Models.ProdutoDetailsVMUser
@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <img src="@Model.Url" asp-append-version="true" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para a lista de produtos </a>
    /
    <form asp-controller="Carrinho" asp-action="AddToCart" asp-route-id="@Model.Id" method="post" id="addCart">
        <a onclick="addCart.submit()" href="#">Adicionar produto ao carrinho</a>
    </form>
</div>
