@model WebCadastrador.Models.ProdutoDetailsViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@{
    ViewData["Title"] = "Details";
    var canEdit = (await authorizationService.AuthorizeAsync(User, nameof(AuthPolicies.EditAndCreate))).Succeeded;
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <img src="@Model.Url" asp-append-version="true" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    @if (canEdit)
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    } |
    <a asp-action="Index">Voltar para a lista</a>
</div>
