@model IEnumerable<WebCadastrador.Models.Produto>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Index";
    var canDelete = (await authorizationService.AuthorizeAsync(User, nameof(AuthPolicies.Delete))).Succeeded;
    var canCreate = (await authorizationService.AuthorizeAsync(User, nameof(AuthPolicies.EditAndCreate))).Succeeded;
}

<h2>Lista de Produtos</h2>

<p>
    @if (canCreate)
    {
    <a asp-action="Create">Adicionar novo produto</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Fabricante.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Preco)
                </td>
                <td>
                    @if (canCreate)
                    {<a asp-action="Edit" asp-route-id="@item.Id">Alterar</a>} |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    @if (canDelete)
                    {<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
